/* Normalize CSS */

/* Set a consistent line height across all browsers and ensure proper scaling of font sizes */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
/* Remove default margin from the body element to avoid inconsistent spacing across browsers */
body {
    margin: 0;
}
/* h1 have consistent font sizes and spacing */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
/* Remove default background on anchor tags and prevent color changes when clicked */
a {
    background-color: transparent;
}
/* Reset button styles to have no border or padding by default, to allow custom styling */
button {
    border: none;
    padding: 0;
}
/* Ensure that input fields inherit font properties from the parent element */
input {
    font-family: inherit;
    font-size: 100%;
}
/* Apply the box-sizing rule globally to include padding and borders in element's total width and height */
* {
    box-sizing: border-box;
}